html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  height: 100vh; 
}

#background-paragraph {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('https://i.ibb.co/SnD5h7p/walppaper.png');
  background-size: cover;
  filter: contrast(10%);
  background-repeat: no-repeat;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 1rem;
}

nav li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

nav li a:hover {
  background-color: #555;
}

main {
  filter: contrast(200%);
  padding: 0rem;
}

section {
  margin-bottom: 2rem;
  padding: 0rem;
}

#menu {
  background-color: #333;
  text-align: center;
  padding: 1rem 0;
}

#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu li {
  display: inline-block;
  margin-right: 1rem;
}

#menu li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

#menu li a:hover {
  background-color: #aaa;
}

h2 {
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

label, input, button {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.dark-mode {
  color: #fff !important;
}

.dark-mode #menu {
  background-color: #fff;
}

.dark-mode #menu a {
  color: #000 !important;
}

.dark-mode #background-paragraph {
  filter: contrast(10%) invert(100%);
}
.dark-mode header {
  background-color: #fff;
  color: #000 !important;
}
.dark-mode #menu h1 {
  color: #000 !important;
}
.dark-mode button {
  background-color: #fff;
  color: #000 !important;
}
.dark-mode {
  color: #000 !important;
}

.dark-mode #background-paragraph {
  filter: contrast(10%) invert(100%);
}


.dark-mode header {
  background-color: #fff;
  color: #000 !important;
}


.dark-mode label {
  color: #000 !important;
}

.dark-mode input {
  background-color: #fff;
  color: #000 !important;
  border-color: black;
}

.dark-mode input:hover,
.dark-mode input:focus {
  background-color: #b9b9b9;
}

.dark-mode input[type="submit"] {
  background-color: #b9b9b9;
  color: #333 !important;
}

.dark-mode input[type="submit"]:hover {
  background-color: #9f9f9f;
}

.dark-mode label {
  color: #000 !important;
}
#div-background-images {
    background: #aaa;
    border-radius: 15px;
    width: 299px;
    color: #000;
}

.dark-mode #div-background-images {
    background: #b0afaf;
    color: #fff;
}

.dark-mode #div-background-images label {
    color: #fff;
}

.dark-mode #div-background-images input {
    background-color: #aeadad;
    color: #fff;
}

.car_pictures_table {
    display: flex;
    flex-wrap: wrap;
}

.car_picture {
    width: 30%;
    box-sizing: border-box;
    margin: 0;
    padding: 3px;
}

.car_picture img {
    width: 30%;
    height: auto;
}

.info-tables-container {
    display: flex;
}

.hamburger div {
    background-color: black;
}
.dark-mode .hamburger div {
    background-color: white;
}
.hamburger div {
    background-color: #333;
}
.dark-mode .hamburger div {
    background-color: white;
}

.customer_information_table,
.car_information_table,
.service_details_table,
.car_pictures_table {
    margin-right: 10px; 
    padding: 10px; 
    width: 30%; 





